<div *ngFor="let task of tasks" [ngClass]="{'completed': task.status === 'concluída'}">
    <h3>{{ task.title }}</h3>
    <p id="description">{{ task.description }}</p>
    <p id="date"> <span id="spanDate">Tarefa criada em: </span>{{ task.date | date: 'dd/MM/yyyy HH:mm' }}</p>
    <input type="checkbox" [checked]="task.status === 'concluída'" (change)="toggleTaskStatus(task)" />
    <span *ngIf="task.status === 'concluída'" class="confirmation">Concluída</span>
    <span *ngIf="task.status === 'pendente'" class="pending">A fazer</span>
    <button (click)="removeTask(task)">Remover</button>
  </div>
  